<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<!-- ##1 -->
<head>
<meta charset="UTF-8">
<title>새 사용자 가입</title>
</head>
<body>
	<div layout:fragment="content">

		<style> body { 
			background-color: #D9D9D9; 
		} </style>
		

			<div class="container d-flex justify-content-center align-items-center mt-5" style="min-height: 100vh;">
				<div class="card shadow" style="max-width: 600px;">
					<div class="card-body">
						<h3 class="text-center mb-4">회원가입</h3>

						<form method="post" th:action="@{/member/join}"
							th:object="${memberForm}" class="needs-validation" novalidate>

							<!-- 오류 발생 -->
							<div class="alert alert-danger text-center" role="alert"
								th:if="${#fields.hasAnyErrors()}">
								<div th:each="err: ${#fields.allErrors()}" th:text="${err}"></div>
							</div>

							<!-- 아이디 -->
							<div class="form-floating mb-3">
								<input type="text" name="memberId" id="username"
									class="form-control" th:field="*{memberId}" placeholder="아이디">
								<label for="username">아이디</label>
							</div>

							<!-- 비밀번호 -->
							<div class="form-floating mb-3">
								<input type="password" name="memberPass" id="password"
									class="form-control" th:field="*{memberPass}"
									placeholder="비밀번호"> <label for="password">비밀번호</label>
							</div>

							<!-- 비밀번호 확인 -->
							<div class="form-floating mb-3">
								<input type="password" name="password2" id="password2"
									class="form-control" th:field="*{password2}"
									placeholder="비밀번호확인"> <label for="password2">비밀번호
									확인</label>
							</div>

							<!-- 실명 -->
							<div class="form-floating mb-3">
								<input type="text" name="realName" id="realName"
									class="form-control" th:field="*{realName}" placeholder="실명">
								<label for="realName">실명</label>
							</div>

							<!-- 휴대폰 -->
							<div class="form-floating mb-3">
								<input type="number" name="mobileNumber" id="mobileNumber"
									class="form-control" th:field="*{mobileNumber}"
									placeholder="휴대전화번호" maxlength="11"> <label
									for="mobileNumber">휴대전화번호<span style="font-size: 11px; color:gray;"> (-없이 숫자만 입력)</span></label>
							</div>

							<!-- 생년월일 -->
							<div class="form-floating mb-3">
								<input type="date" name="birthDate" id="birthDate"
									class="form-control" th:field="*{birthDate}" placeholder="생년월일">
								<label for="birthDate">생년월일</label>
							</div>

							<!-- 성별 -->
							<div class="d-flex justify-content-end">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender"
										id="gender" th:value="F"> <label
										class="form-check-label" for="female">여성</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender"
										id="gender" th:value="M"> <label
										class="form-check-label" for="male">남성</label>
								</div>
							</div>
							<p />

							<!-- 이메일 -->
							<div class="form-floating mb-3">
								<input type="email" name="email" id="email" class="form-control"
									th:field="*{email}" placeholder="이메일"> <label
									for="email">이메일</label>
							</div>



							<!-- 주소 -->
							<div class="mb-3">
								<label class="form-label">주소</label>

								<!-- 우편번호 + 검색 버튼 -->
								<div class="row g-2 mb-2">
									<div class="col-md-6">
										<input type="text" name="addressPost" id="addressPost" th:field="*{addressPost}"
											class="form-control" placeholder="우편번호" readonly>
									</div>
									<div class="col-md-6">
										<button type="button" class="btn btn-outline-primary w-100"
											onclick="addressFinder()">검색</button>
									</div>
								</div>

								<!-- 도로명 / 지번 주소 -->
								<div class="row g-2 mb-2">
									<div class="col-md-6">
										<input type="text" name="addressRoad" id="addressRoad"
											class="form-control" th:field="*{addressRoad}"
											placeholder="도로명주소" readonly>
									</div>
									<div class="col-md-6">
										<input type="text" name="addressJibun" id="addressJibun"
											class="form-control" th:field="*{addressJibun}"
											placeholder="지번주소" readonly>
									</div>
								</div>

								<!-- 상세 주소 -->
								<div class="row g-2 mb-2">
									<div class="col-md-6">
										<!-- 상세 주소 입력창 -->
										<input type="text" name="addressDetail" id="addressDetail"
											class="form-control" th:field="*{addressDetail}"
											placeholder="상세주소" />

										<!-- 주소 안내 표시용 -->
										<small id="addressGuide" class="form-text text-muted"></small>
									</div>
									<div class="col-md-6">
										<input type="text" name="addressExtra" id="addressExtra"
											class="form-control" placeholder="참조주소" readonly>
									</div>
								</div>
							</div>
							<!-- 닉네임 -->
							<div class="form-floating mb-3">
								<input type="text" name="displayName" id="displayName"
									class="form-control" th:field="*{displayName}" placeholder="별명">
								<label for="email">별명</label>
							</div>

							<!-- 제출/취소 버튼 -->
							<div class="d-flex justify-content-between">
								<input type="submit" class="btn btn-primary w-50 me-2"
									value="회원가입" /> <input type="reset"
									class="btn btn-outline-secondary w-50" value="취소" />
							</div>
						</form>
					</div>
				</div>
			</div>

		

		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
			function addressFinder() {
				new daum.Postcode(
						{
							oncomplete : function(data) {
								// 도로명 주소 변수
								var roadAddr = data.roadAddress;
								// 참고 항목 변수
								var extraRoadAddr = '';

								// 법정동명이 있을 경우 추가
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraRoadAddr += data.bname;
								}

								// 건물명이 있고, 공동주택일 경우 추가
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraRoadAddr += (extraRoadAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}

								// 표시할 참고항목이 있을 경우, 괄호까지 추가
								if (extraRoadAddr !== '') {
									extraRoadAddr = ' (' + extraRoadAddr + ')';
								}

								// 우편번호와 주소 정보를 해당 필드에 넣는다.
								document.getElementById('addressPost').value = data.zonecode; // 우편번호
								document.getElementById('addressRoad').value = roadAddr; // 도로명 주소
								document.getElementById('addressJibun').value = data.jibunAddress; // 지번 주소

								// 참고항목이 있을 경우 해당 필드에 넣는다.
								if (roadAddr !== '') {
									document.getElementById('addressExtra').value = extraRoadAddr;
								} else {
									document.getElementById('addressExtra').value = '';
								}

								// 상세주소 입력 안내
								var guideTextBox = document
										.getElementById("addressGuide");

								if (data.autoRoadAddress) {
									var expRoadAddr = data.autoRoadAddress
											+ extraRoadAddr;
									guideTextBox.innerText = '(예상 도로명 주소 : '
											+ expRoadAddr + ')';
									guideTextBox.style.display = 'block';
								} else if (data.autoJibunAddress) {
									var expJibunAddr = data.autoJibunAddress;
									guideTextBox.innerText = '(예상 지번 주소 : '
											+ expJibunAddr + ')';
									guideTextBox.style.display = 'block';
								} else {
									guideTextBox.innerText = '';
									guideTextBox.style.display = 'none';
								}
							}
						}).open();
			}
		</script>
	</div>
</body>
</html>